body{
  color: gold;
  background-color: rgb(0,100,200);
}

h1{
  font-size: 50px;
  font-family: monospace, Arial, ;
}

p{
  color: cyan;
}

#first{
  color: purple;
  font-weight: bold;
  letter-spacing: 10px;
}

img{
  width:400px;
  height:200px;
  opacity:50%
}